project_id = "ukloaaccuetocrkxsdlv"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[functions.create-post]
verify_jwt = false
